:root {
    --color-primary: #bb0047;
    --color-bg: #121212;
    --color-text: #e0e0e0;
    --color-white: #1e1e1e;
    --color-card-bg: rgba(30, 30, 30, 0.85);
    --color-card-border: rgba(255, 255, 255, 0.1);
    --color-shadow: rgba(255, 255, 255, 0.1);
    --color-pink-light: #311e28;
  }
  